torch>=2.0.0
torchvision>=0.15.0
timm>=0.9.12
numpy>=1.23.0
scipy>=1.10.0
scikit-learn>=1.2.0
matplotlib>=3.7.0
tqdm>=4.65.0
PyYAML>=6.0
pandas>=1.5.0
thop>=0.1.1.post2209072238
gdown>=4.7.1
huggingface_hub>=0.24
hf_xet>=1.1.1
pycocotools
einops
